<form #ocorrenciaForm="ngForm" fxLayout="column" fxLayoutAlign="start stretch" (ngSubmit)="addOcorrencia()">
  <div class="row">
    <div class="col-sm-12">
      <app-card cardTitle="Nova Ocorrência" [options]="false">
        <h5>Inserir Nova Ocorrência</h5>
        <hr />
        <div class="mb-3">
          <label for="placa" class="form-label">Placa</label>
          <input
            id="placa"
            name="placa"
            type="text"
            class="form-control"
            required
            minlength="7"
            maxlength="7"
            [(ngModel)]="ocorrencia.placa"
            #placaField="ngModel"
            placeholder="ABC1234"
          />
          <div *ngIf="placaField.invalid && placaField.touched" class="text-danger">A placa deve conter exatamente 7 caracteres.</div>
        </div>

        <p></p>
        <div class="col-12">
          <label for="motivo">Motivo</label>
          <div class="input-group">
            <input
              id="motivo"
              name="motivo"
              type="text"
              [(ngModel)]="ocorrencia.motivo"
              maxlength="30"
              #motivoField="ngModel"
              class="form-control"
              placeholder="Motivo de Ocorrência"
            />
          </div>
        </div>
        <p></p>

        <hr />
        <div layout-fill [ngStyle]="{'color': 'white'}">
          <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between start">
            <input type="file" id="file" mat-input (change)="adicionarFoto($event)" />
          </div>
        </div>
        <hr />
        <div layout-fill [ngStyle]="{'color': 'white'}">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-md-auto">
                <div class="card" style="width: 250px; height: 250px" *ngIf="ocorrencia.foto else fotosVazias">
                  <img [src]="ocorrencia.foto" class="card-img-top" />
                  <button id="btn_excluir" color="danger" class="btn btn-danger" (click)="excluirFoto()">Excluir</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <ng-template #fotosVazias>
          <div layout-fill class="row justify-content-md-center" style="max-width: 150px">
            <span>Ainda não existem fotos adicionadas</span>
          </div>
        </ng-template>

        <div class="row">
          <div class="col-md-10">
            <div class="form-group">
              <button type="submit" class="btn btn-primary" [disabled]="ocorrenciaForm.invalid ">Registrar</button>
            </div>
          </div>
        </div>
      </app-card>
    </div>
  </div>
</form>
